.expo
node_modules
.watchmanconfig

#amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/backend/amplify-meta.json
amplify/backend/function/*/src/node_modules/
amplify/backend/function/*/dist/
aws-info.json
aws-exports.*
awsconfiguration.json
.amplifyrc

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~
.directory
.Trash-*
.nfs*

# Android
*.apk
*.ap_
*.aab
bin/
gen/
out/
.gradle
local.properties
*.log

# IntelliJ
*.iml
.idea/

# Keystore files
*.jks
*.keystore

gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Node
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock
lib-cov
.lock-wscript
.npm
*.tgz

# dotenv environment variables file
.env
.env.test

# Serverless
.serverless/

# DynamoDB
.dynamodb/